.about_image {
  width: 33.3%;
  /*background: url('about_image.png') no-repeat;*/
  background: url('../images/about_image.png') no-repeat;
  background-size: cover;
  height: 615px;
  float: left;
}

.about article {
  width: 56.6%;
  margin: 10% 5%;
  float: left;
}

.about h1 {
  font-size: 36px;
}

@media screen and (max-width: 700px), screen and (max-device-width: 700px) {
  .about_image {
    background: url('../images/about_mobile.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
  }

  .about article{
    width: 90%;
    margin: 10% 5%;
  }
  .about h1 {
    font-size: 32px;
  }
}
