.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
    margin: 0px;
    font-family: 'Roboto', serif;
    position: relative;
    padding-bottom: 250px;
}

header {
    margin: 0;
    overflow: hidden;
}

.logo_container {
    width: 100%;
    /*margin-left: 32%;*/
    margin-top: 2.5%;
}

.logo {
    background: url('../images/whitelogo.png');
    background-repeat: no-repeat;
    height: 87px;
    width: 92px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-top: 76px;
    padding-left: 24px;
}

nav ul li {
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 31%;
}

nav ul li:last-child {
    padding-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

nav ul li a:hover,
nav ul li a.hovered {
    padding-bottom: 15%;
    border-bottom: 2px solid #e33d3d;
}

.nav_left {
    float: left;
    width: 32.5%;
    background: #e33d3d;
    height: 120px;
}

.nav_middle {
    float: left;
    width: 33.3333%;
    background: #282828;
    height: 120px;
}

.nav_right {
    float: left;
    width: 33.3333%;
    background: #282828;
    height: 120px;
}

.notice {
    clear: both;
}

.yield {
    clear: both;
}

/*.footer_padding {
    padding: 10px;
    clear: both;
}*/

footer {
    background: #282828;
    border-top: 2px solid ##e33d3d;
    overflow: hidden;
    clear: both;
    margin-bottom: 0;
    padding-bottom: 5%;
    padding-top: 2%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer_split {
    margin: 0 auto;
    width: 500px;
}

footer ul {
    list-style: none;
    position: relative;
}

footer ul li {
    display: inline-block;
    margin-left: 7%;
    margin-right: 11%;
    /*padding-right: 42px;*/

}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li:last-child {
    margin-right: 0;
}

footer section p {
    text-align: center;
    color: lightgray;
    margin-top: 34px;
}

.fa {
	color: lightgrey;
}
.fa:hover {
	color: #e33d3d;
}

@media screen and (max-width: 910px), screen and (max-device-width: 910px) {
    nav ul li {
    padding-right: 27%;
    }
}

@media screen and (max-width: 810px), screen and (max-device-width: 810px) {
    nav ul li {
        padding-right: 25%;
    }
}

@media screen and (max-width: 700px), screen and (max-device-width: 700px) {
    .nav_left {
        float: left;
        width: 100%;
        background: #e33d3d;
        padding: 0;
        padding-top: 15px;
        height: 120px;
    }

    .nav_middle {
        display: none;
    }

    .logo_container {
        margin: 0 auto;
        width: 92px;
    }

    .nav_right {
        float: left;
        width: 100%;
        background: #282828;
        height: 30px;
        padding: 5% 0;
    }

    .footer_split {
        margin: 0 auto;
        width: 310px;
    }

    footer ul li {
        width: 44px;
        padding: 0;
        margin-left: 7px;
        margin-right: 7px;
    }

    nav ul li {
        padding: 0;
        width: 32.9%;

    }

    nav ul li a {
        display: block;
        text-align: center;
        font-size: 1.3em;
    }

    nav ul {
        padding-top: 0;
    }
    
    .homebutton {
  	fill: #282828; 
}

.homebutton:hover {
	 fill: #e33d3d; 
}

